<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Films - Devschool</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-item.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Devschool</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Bibliothèque</a>
                    </li>
                    <li class="active">
                        <a href="cinema-films.twig">Cinéma</a>
                    </li>
                    <li>
                        <a href="#">Admin</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Cinéma</p>
                <div class="list-group">
                    <a href="cinema-films.twig" class="list-group-item active">Films a venir</a>
                    <a href="cinema-realisateurs.html" class="list-group-item">Réalisateurs</a>
                </div>
            </div>

            <div class="col-md-9">
			
				<h2>Liste des films a venir</h2>
				
				<br />
			
				<div class="thumbnail">
                    <div class="caption-full">
                        <h4 class="pull-right">Aventure-Effet Speciaux</h4>
                        <h4>Rogue One Star Wars</h4>
                        <p>Situé entre les épisodes III et IV de la saga Star Wars, le film nous entraîne aux côtés d’individus ordinaires qui, pour rester fidèles à leurs valeurs, vont tenter l’impossible au péril de leur vie. Ils n’avaient pas prévu de devenir des héros, mais dans une époque de plus en plus sombre, ils vont devoir dérober les plans de l’Étoile de la Mort, l’arme de destruction ultime de l’Empire. </p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">sorti le 14/12/2016</p>
                        <p>Réalisé par :The Walt Disney Company France</a></p>
                    </div>
                </div>
				
				<div class="thumbnail">
                    <div class="caption-full">
                        <h4 class="pull-right">Romantique-Drame-Action-Erotique</h4>
                        <h4>Cinquante Nuances plus sombres</h4>
                        <p>Dépassée par les sombres secrets de Christian Grey, Anastasia Steele a mis un terme à leur relation pour se consacrer à sa carrière d'éditrice. Mais Grey occupe toujours toutes ses pensées et, lorsqu'il lui propose un nouvel accord, elle ne peut lui résister. Peu à peu, elle découvre le douloureux passé de son sulfureux M. Cinquante Nuances. Tandis que Christian lutte contre ses démons intérieurs, Ana doit prendre la décision la plus importante de sa vie... </p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">sorti le 08/02/2017</p>
                        <p>Réalisé par : James Foley</a></p>
                    </div>
                </div>
				
				<div class="thumbnail">
                    <div class="caption-full">
                        <h4 class="pull-right">Fantastique</h4>
                        <h4>Sully</h4>
                        <p>Après la mort tragique de Lily et James Potter, leur fils Harry est recueilli par sa tante Pétunia, la sœur de Lily et son oncle Vernon. Son oncle et sa tante, possédant une haine féroce envers les parents d'Harry, le maltraitent et laissent leur fils Dudley l'humilier. Harry ne sait rien sur ses parents. On lui a toujours dit qu’ils étaient morts dans un accident de voiture. Un jour de juillet, peu avant son onzième anniversaire, Harry reçoit une lettre de Poudlard, l'école de magie et de sorcellerie, l'invitant à s'y présenter pour la rentrée des classes, mais son oncle la lui confisque avant qu'il ne puisse la lire, ne voulant pas que Harry devienne sorcier. L'école ne recevant aucune réponse, d'autres lettres, en nombre croissant, sont envoyées en vain par la directrice-adjointe de Poudlard, Minerva McGonagall. Finalement, le directeur Albus Dumbledore envoie Rubeus Hagrid, un demi-géant, gardien des clés et des lieux à Poudlard, chercher Harry le jour de son anniversaire, le 31 juillet.</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">sorti le 30/11/2016</p>
                        <p>Réalisé par :Clint Eastwood</a></p>
                    </div>
                </div>
				
				<div class="thumbnail">
                    <div class="caption-full">
                        <h4 class="pull-right">Action-Effet Speciaux</h4>
                        <h4>Transformers : The Last Knight</h4>
                        <p>Cinquième aventure des Transformers sur grand écran</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">sorti le 21/06/2017</p>
                        <p>Réalisé par :Michael Bay</a></p>
                    </div>
                </div>

                <div class="thumbnail">
                    <div class="caption-full">
                        <h4 class="pull-right">Fantastique</h4>
                        <h4>Assassin's Creed</h4>
                        <p>Grâce à une technologie révolutionnaire qui libère la mémoire génétique, Callum Lynch revit les aventures de son ancêtre Aguilar, dans l’Espagne du XVe siècle.  Alors que Callum découvre qu’il est issu d’une mystérieuse société secrète, les Assassins, il va assimiler les compétences dont il aura besoin pour affronter, dans le temps présent, une autre redoutable organisation : l’Ordre des Templiers. </p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">sorti le 21/12/2016</p>
                        <p>Réalisé par :  Justin Kurzel </a></p>
                    </div>
                </div>

                    </div>
                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Devschool Steve 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
